<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户管理</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/common.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="content">
    <div class="contenttable">
        <table class="table table-bordered table-hover">
            <tr>
                <th>序号</th>
                <th>代理商id</th>
                <th>代理商名称</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>区域</th>
                <th>书籍</th>
                <th>二级代理商</th>
            </tr>
            <tr>
                <td>1</td>
                <td>321321</td>
                <td>XXX</td>
                <td>单小楠</td>
                <td>1333333333</td>
                <td>北京市朝阳区</td>
                <td>4</td>
                <td><a href="#">查看</a></td>
            </tr>
        </table>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../scripts/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>