<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户管理</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="css/usermanage.css">
    <link rel="stylesheet" href="css/teacherbooklist.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="content">
    <div class="contenttable">
        <table class="table table-bordered table-hover">
            <tr>
                <th>序号</th>
                <th>书籍code</th>
                <th>书籍名称</th>
                <th>班级</th>
                <th>学科</th>
            </tr>
            <tr>
                <td>1</td>
                <td>321321</td>
                <td>XXX</td>
                <td>三个班</td>
                <td>数学 语文</td>
            </tr>
            <tr>
                <td>2</td>
                <td>321321</td>
                <td>XXX</td>
                <td>三个班</td>
                <td>数学 语文</td>
            </tr>
            <tr>
                <td>3</td>
                <td>321321</td>
                <td>XXX</td>
                <td>三个班</td>
                <td>数学 语文</td>
            </tr>
            <tr>
                <td>4</td>
                <td>321321</td>
                <td>XXX</td>
                <td>三个班</td>
                <td>数学 语文</td>
            </tr>
            <tr>
                <td>5</td>
                <td>321321</td>
                <td>XXX</td>
                <td>三个班</td>
                <td>数学 语文</td>
            </tr>
        </table>
    </div>
    <div class="contentDown">
        <table class="table table-bordered table-hover">
            <tr>
                <th>班级序号</th>
                <th>班级id</th>
                <th>学科</th>
                <th>学生数量</th>
            </tr>
            <tr>
                <td>一年级二班</td>
                <td>321321</td>
                <td>语文</td>
                <td>21</td>
            </tr>
            <tr>
                <td>一年级二班</td>
                <td>321321</td>
                <td>语文</td>
                <td>三个班</td>
            </tr>
        </table>
        <button class="contentbtn btn-info btn">关闭</button>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../scripts/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>